.index {
    display: flex;
    color: black;
    margin: 0px;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.link {
    text-decoration: none;
    list-style: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    list-style: none;
    color: black;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    right: 0px;
    padding: 0px 5px;
    margin-left: 32vw;
    background-color: white;
    border-radius: 50px;
}

.image {
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
}
