.index {
    display: flex;
    color: black;
    margin: 0px;
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.link {
    text-decoration: none;
    list-style: none;
    color: black;
}

.link:hover {
    text-decoration: underline;
    list-style: none;
    color: black;
}

.right {
    margin-left: 32vw;
    right: 0px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.image {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin: -10px 0px;
}
