.index {
    display: flex;
    flex-direction: row;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    gap: 10px;
}

.left {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.right {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;  
}

.sidebarIcon {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.sidebarImage {
    width: inherit;
    height: inherit;
}

.sidebarIcon:hover {
    background-color: #F0F0F0;
    border-radius: 50px;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.logoImage {
    width: inherit;
    height: auto;
}

.address {
    display: flex;
    width: 180px;
    height: 55px;
    padding: 2px 10px;
    align-items: center;
    border-radius: 40px;
}

.addressImage {
    width: 55px;
    height: inherit;
}

.address:hover {
    background-color: #F0F0F0;
}

.textSelection {
    font-weight: bold;
}

.notification {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 25px;
    margin-right: 7px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 50px;
}

.notificationImage {
    width: inherit;
    height: auto;
}

.notification:hover {
    background-color: #F0F0F0;
}

.language {
    width: 60px;
}

.languageSelection {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65px;
    height: 35px;
    border: 1px solid black;
    border-radius: 30px;
    padding: 7px 0px;
    font-size: 15px;
}

.themeChanger {
    margin-top: 15px;
    padding: 2px 10px;
    height: 45px;
}

.user {
    display: flex;
    width: 200px;
    height: 55px;
    align-items: center;
    padding: 2px 10px;
    gap: 2px;
    border-radius: 40px;
}

.userImage {
    width: 55px;
    height: inherit;
}

.userSelection {
    width: 200px;
    height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.user:hover {
    background-color: #F0F0F0;
}

.userSelection:hover {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}

.return {
    padding: 14px 18px 0px 20px;
    height: 45px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.return:hover {
    background-color: #F0F0F0;
    border-radius: 40px;
}

.cart {
    display: flex;
    flex-direction: column;
    width: 30px;
    padding: 5px 12px;
}

.cartImage {
    width: inherit;
    height: auto;
}

.cart:hover {
    background-color: #F0F0F0;
    border-radius: 40px;
}